<ul class="site-menu" data-plugin="menu">
  <li class="site-menu-item has-sub{{#active 'dashboard'}} active open{{/active}}">
    <a href="javascript:void(0)">
      <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
      <span class="site-menu-title">Dashboard</span>
      <div class="site-menu-badge">
        <span class="badge badge-pill badge-success">3</span>
      </div>
    </a>
    <ul class="site-menu-sub">
      <li class="site-menu-item{{#active 'index.html'}} active{{/active}}">
        <a class="animsition-link" href="{{dest 'index.html'}}">
          <span class="site-menu-title">Dashboard v1</span>
        </a>
      </li>
      <li class="site-menu-item{{#active 'dashboard/v2.html'}} active{{/active}}">
        <a class="animsition-link" href="{{dest 'dashboard/v2.html'}}">
          <span class="site-menu-title">Dashboard v2</span>
        </a>
      </li>
      <li class="site-menu-item{{#active 'dashboard/ecommerce.html'}} active{{/active}}">
        <a class="animsition-link" href="{{dest 'dashboard/ecommerce.html'}}">
          <span class="site-menu-title">Ecommerce</span>
        </a>
      </li>
      <li class="site-menu-item{{#active 'dashboard/analytics.html'}} active{{/active}}">
        <a class="animsition-link" href="{{dest 'dashboard/analytics.html'}}">
          <span class="site-menu-title">Analytics</span>
        </a>
      </li>
      <li class="site-menu-item{{#active 'dashboard/team.html'}} active{{/active}}">
        <a class="animsition-link" href="{{dest 'dashboard/team.html'}}">
          <span class="site-menu-title">Team</span>
        </a>
      </li>
    </ul>
  </li>
</ul>