<ul class="site-menu" data-plugin="menu">
    <li class="bdManagerOnly site-menu-item {{#active 'project-center'}} active open{{/active}}">
        <a href="{{html}}project-center.html">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title"> Project Center </span>
        </a>
    </li>
    <li class="bdManagerOnly site-menu-item {{#active 'project-builder'}} active open{{/active}}">
        <a href="{{html}}project-builder.html">
            <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
            <span class="site-menu-title"> Project Builder </span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'codebook'}} active open{{/active}}">
        <a href="{{html}}codebook.html">
            <i class="site-menu-icon wb-book" aria-hidden="true"></i>
            <span class="site-menu-title">Code Book</span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'encoder-dashboard'}} active open{{/active}}">
        <a href="{{html}}encoder-dashboard.html">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title"> Encoder Dashboard </span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'assignments'}} active open{{/active}}">
        <a href="{{html}}assignments.html">
            <i class="site-menu-icon wb-pencil" aria-hidden="true"></i>
            <span class="site-menu-title">My Assignments</span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'paper-coder'}} active open{{/active}}">
        <a href="{{html}}paper-coder.html">
            <i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>
            <span class="site-menu-title">Paper Coder</span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'conflict-resolution'}} active open{{/active}}">
        <a href="{{html}}conflict-resolution.html">
            <i class="site-menu-icon wb-alert" aria-hidden="true"></i>
            <span class="site-menu-title">Conflict Resolution</span>
        </a>
    </li>
</ul>