<ul class="site-menu" data-plugin="menu">
    <li class="site-menu-item {{#active 'index'}} active open{{/active}}">
        <a href="{{html}}index.html">
            <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
            <span class="site-menu-title">Landing</span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'codebook'}} active open{{/active}}">
        <a href="{{html}}codebook.html">
            <i class="site-menu-icon wb-book" aria-hidden="true"></i>
            <span class="site-menu-title">Code Book</span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'encoder-dashboard'}} active open{{/active}}">
        <a href="{{html}}encoder-dashboard.html">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title"> Encoder Dashboard </span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'assignments'}} active open{{/active}}">
        <a href="{{html}}assignments.html">
            <i class="site-menu-icon wb-pencil" aria-hidden="true"></i>
            <span class="site-menu-title">My Assignments</span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'paper-coder'}} active open{{/active}}">
        <a href="{{html}}paper-coder.html">
            <i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>
            <span class="site-menu-title">Paper Coder</span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'project-center'}} active open{{/active}}">
        <a href="{{html}}project-center.html">
            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
            <span class="site-menu-title"> Project Center </span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'project-builder'}} active open{{/active}}">
        <a href="{{html}}project-builder.html">
            <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
            <span class="site-menu-title"> Project Builder </span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'example-paper-report'}} active open{{/active}}">
        <a href="{{html}}example-paper-report.html">
            <i class="site-menu-icon wb-file" aria-hidden="true"></i>
            <span class="site-menu-title"> Example Paper Report </span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'login'}} active open{{/active}}">
        <a href="{{html}}login.html">
            <i class="site-menu-icon wb-user" aria-hidden="true"></i>
            <span class="site-menu-title"> Login </span>
        </a>
    </li>
    <li class="site-menu-item {{#active 'register'}} active open{{/active}}">
        <a href="{{html}}register.html">
            <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
            <span class="site-menu-title"> Register </span>
        </a>
    </li>
</ul>